<?xml version="1.0"?>
<model>
  <name>death_valley_terrain</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Autonomy Team</name>
    <email>autonomy@simulation.local</email>
  </author>
  <description>Death Valley terrain model with 8K texture mapping</description>
</model>
