<?xml version="1.0"?>
<model>
  <name>small_mountain_terrain</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Autonomy Simulation Team</name>
    <email>simulation@autonomy.local</email>
  </author>
  <description>Small Mountain 3D terrain model with 3K diffuse overlay texture</description>
</model>
